<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Telegram Authorization</title>
  </head>
  <body>
    <h1>Telegram Authorization</h1>
    <form action="/" method="POST">
      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number">
      <br><br>
      <label for="telegram_api_id">Telegram API ID:</label>
      <input type="text" id="telegram_api_id" name="telegram_api_id">
      <br><br>
      <label for="telegram_api_hash">Telegram API Hash:</label>
      <input type="text" id="telegram_api_hash" name="telegram_api_hash">
      <br><br>
      <label for="pipedrive_client_id">Pipedrive Client ID:</label>
      <input type="text" id="pipedrive_client_id" name="pipedrive_client_id">
      <br><br>
      <label for="pipedrive_client_secret">Pipedrive Client Secret:</label>
      <input type="text" id="pipedrive_client_secret" name="pipedrive_client_secret">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
