<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Home Landing Page</title>
  </head>
  <body>
    <h1>Successfully authenticated!</h1>
    <form method="POST">
      <label for="channel_id">Channel ID:</label><br />
      <input type="text" id="channel_id" name="channel_id" /><br />
      <label for="provider_type">Provider Type:</label><br />
      <input
        type="text"
        id="provider_type"
        name="provider_type"
        value="other"
      /><br />
      <label for="channel_name">Channel Name:</label><br />
      <input type="text" id="channel_name" name="channel_name" /><br /><br />
      <input type="submit" value="Create Channel" />
    </form>
  </body>
</html>
